.base-layout-authentication {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  min-height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden; /* Ensures anything outside 100vh is not visible */
}

.base-header {
  position: absolute; /* Position the header absolutely */
  top: 0;
  left: 0;
  z-index: 1; /* Ensure the header is above the content */
}

.content-area {
  flex: 1; /* Allow the content area to grow and take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  height: 100vh; /* Set the height to 100vh */
}
  
  .base-header .base-logo {
    margin: 20px 0;
  }
  

  
  .background-image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3; /* Adjust as needed */
  }
  

  
  .frame-image {
    position: absolute;
    bottom: -169px; /* Ensure it is positioned properly */
    width: 100%;
    height: auto;
    z-index: 0;
  }

  
  /* Specific styles for vectors */
  .red-vector {
    width: 498px;
    height: 525px;
    background: #f04536;
    filter: blur(350px);
  }
  
  .red-yellow {
    width: 514px;
    height: 608px;
    background: #ffaa51;
    filter: blur(350px);
  }
  
  .yellow-vector {
    width: 450px;
    height: 450px;
    background: rgba(255, 216, 20, 0.25);
    filter: blur(50px);
  }
  

  .textinputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  .form-input input{
    background-color: transparent;
    border: 1px solid black;
    padding: 4px 12px !important;
    font-size: 13px !important;
    border-radius: 4px;
  }

  
  .form-input input:hover,.form-input input:focus{
    border: 1px solid black;
   
  }

  .passtextadmin input{
    background-color: transparent !important;
    padding: 4px 12px !important;
    font-size: 13px !important;
    border: none;
  }

  .passborder{
    border: 1px solid black;
    border-radius: 4px !important;

  }

  .labelstyle{
    font-weight: 600 !important;
  }
  .orgdrop{
    width: 100%;
  }
  .orgdrop button{
    width: 100%;
    background-color: transparent !important;
    color: black;
    border: 1px solid black;
    border-radius: 4px !important;


    span{
      display: flex;
      justify-content: space-between;
      width: 95%;
      color: #808080;
      svg{
        color: black !important;
      }
    }
  }
  


  .file-upload {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 12px 12px;
    background-color: transparent;
  }
  
  .file-input {
    display: none;
  }
  
  .file-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    flex-grow: 1;
  }
  
  .placeholder {
    flex-grow: 1;
  }
  
  .certificate-icon {
    margin-left: 8px;
    font-size: 20px;
  }





/* card */
.SubsCard {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.Professional {
  background: rgb(234,190,75);
  background: linear-gradient(90deg, rgba(234,190,75,1) 0%, rgba(255,255,255,1) 100%);
  margin-bottom: 1rem;
  border-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(234,190,75,1) 100%) 1;
  border-width: 1px; /* Adjust the border width as desired */
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
  padding: 0.3rem 0;
  width: 100%;
}

.basic {
  background: rgb(84,197,241);
  background: linear-gradient(90deg, rgba(84,197,241,1) 0%, rgba(255,255,255,1) 100%);  width: 100%;
  margin-bottom: 1rem;
  border-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(90,199,241,1) 100%) 1;
  border-width: 1px; /* Adjust the border width as desired */
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
  padding: 0.3rem 0;
  width: 100%;
}

.Standard {
  width: 100%;
  background: rgb(175,106,230);
  background: linear-gradient(90deg, rgba(175,106,230,1) 0%, rgba(225,247,255,1) 100%);
  margin-bottom: 1rem;
  border-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(175,106,230,1) 100%) 1;
  border-width: 1px; /* Adjust the border width as desired */
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
  padding: 0.3rem 0;
}
.cardssingle{
  border: 1px solid #54C5F1;
  border-radius: 6px;

  li{
    padding: 0.5rem 0;

    p{
      font-size: 12px;
      font-weight: 600;
    }
  }

}

