.dashrestbg{
background-size: cover;
width: 100%;
background-position: center;
}

.tdtags{
    border: 1px solid #696969;
    color: #696969;
    padding: 1rem 1rem;
    border-radius: 6px;
    margin-bottom: 2rem;
    font-weight: 600;
}

.cardrestoadmin div[data-testid="flowbite-card"]{
    border-radius: 16px !important;

    img{
        border-radius: 8px !important;
    }
}

.packagecard{
    border-radius: 9999px;
    padding: 6px 12px ;
    justify-content: center;
    max-width: 190px;
    border: 2px solid white;
background: linear-gradient(90deg, #121F2E 0%, #0174C8 100%);
}

@media (max-width:450px) {
    .dashrestbg{
        height: 300px !important;
    }
}