
 /*cards of offer page (restuarent,mobile,supermarket)*/

.cardcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
    gap: 1rem  0.5rem;
  }
  
  .cardsdiv {
    display: flex;
    flex-direction: column;
    width: auto; /* Allow the card to adjust its width */
    max-width: 100%; /* Prevent the card from exceeding the container width */
  }
    
  @media (min-width: 1450px) {
    .cardcontainer {
      grid-template-columns: repeat(5, 1fr); /* Show only 4 cards in a row */
    }
  
   
  }
  
  @media (max-width: 1450px) {
    .cardcontainer {
      grid-template-columns: repeat(4, 1fr); /* Show only 4 cards in a row */
    }
  
  
  }
  
  @media (max-width: 1100px) {
    .cardcontainer {
      grid-template-columns: repeat(3, 1fr) !important; /* Show 3 cards in a row */
    }
  
    
  }
  
  
  @media (max-width: 900px) {
    .cardcontainer {
      grid-template-columns: repeat(2, 1fr) !important; /* Show 3 cards in a row */
    }
  
   
  }
  
  @media (max-width: 770px) {
    .cardcontainer {
      grid-template-columns: repeat(3, 1fr) !important; /* Show 3 cards in a row */
    }
  
    
  }
  
  @media (max-width: 600px) {
    .cardcontainer {
      grid-template-columns: repeat(2, 1fr) !important; /* Show 3 cards in a row */
    }
  
   
  }


  @media (max-width: 460px) {

    .contentsdiv{
      padding: 0rem 4px !important;
    }
    
    .downloadbuttons{
      width: 90px;
      height: 30px;
  }
  }
  
  @media (max-width: 390px) {
  }


 .tabmob button{
  font-size: 12px !important;
  color: #6B6B6B !important;
 }




/*cards of productpage page (mobile,)*/

.cardcontainermobsingle{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap:  1rem 0.5rem; /* Create 4 equal-width columns */

}

@media (max-width: 1250px) {
    .cardcontainermobsingle{
        
        grid-template-columns: repeat(5, 1fr);
    
    }
  }

  @media (max-width: 1250px) {
    .cardcontainermobsingle{
        
        grid-template-columns: repeat(5, 1fr);
    
    }
    @media (max-width: 1100px) {
        .cardcontainermobsingle{
            
            grid-template-columns: repeat(4, 1fr);
        
        }
      }

      @media (max-width: 800px) {
        .cardcontainermobsingle{
            
            grid-template-columns: repeat(3, 1fr);
        
        }
      }

      @media (max-width: 600px) {
        .cardcontainermobsingle{
            
            grid-template-columns: repeat(2, 1fr);
        
        }
      }
  }



  /*cards of offerpage page (restorent,)*/

  .cardcontainer-resto{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem; /* Create 4 equal-width columns */

}

.cardfl img[alt="Meaningful alt text for an image that is not purely decorative"] {
  height: 360px; /* Adjust this value as needed */
  object-fit: cover;
}


@media (max-width: 1100px) {
  .cardcontainer-resto{
      
      grid-template-columns: repeat(4, 1fr);
  
  }}


  @media (max-width: 800px) {
    .cardcontainer-resto{
        
        grid-template-columns: repeat(3, 1fr);
    
    }
  }

  @media (max-width: 600px) {
    .cardcontainer-resto{
        
        grid-template-columns: repeat(2, 1fr);
    
    }
  }

