.downloadfield{
    background-image: url('../assets/categoryimg.png');
    width: 95%;
    height: 153px;
    background-size: cover;
    border-radius: 15px;
   
    
}

.downloadbuttons{
    width: 99px;
    height: 30px;
}




.cardfl {
  position: relative;
}
.cardfl:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.721);
  z-index: 1;
}





/* cardcontainer.module.css */
.cardcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 2rem 1rem;
  }
  
  @media (min-width: 1450px) {
    .cardcontainer {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  @media (max-width: 790px) {
    .cardcontainer {
      gap: 2rem 1rem;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }

  @media (max-width: 660px) {
    .cardcontainer {
      gap: 2rem 1rem;
      grid-template-columns: repeat(auto-fit, minmax(189px, 1fr));
    }
  }

  
  @media (max-width: 460px) {
    .cardcontainer {
      gap: 2rem 1rem;
      grid-template-columns: repeat(auto-fit, minmax(126px, 1fr));
    }
    .downloadbuttons{
      width: 90px;
      height: 30px;
  }
  }
  
  @media (max-width: 390px) {
    .cardcontainer {
      gap: 2rem 1rem;
      grid-template-columns: repeat(auto-fit, minmax(126px, 1fr));
    }
  }
  
 