.downloadfield{
    background-image: url('../assets/categoryimg.png');
    width: 95%;
    height: 153px;
    background-size: cover;
    border-radius: 15px;
   
    
}

.supermarketbutton button span{
   padding:3px 6px !important;
}

.downloadbuttons{
    width: 99px;
    height: 30px;
}




.cardfl {
  position: relative;
}

