.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #1F416C;
    color: white;
  }
  
  .marquee {
    display: inline-block;
    padding-left: 100%; /* Show the marquee text initially */
    animation: marquee 20s linear infinite;
  }
  
  .marquee span {
    padding-right: 1rem;
    animation: infinite 2s ease-in-out infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes bouncing {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }