

.containers {
  display: flex;
  align-items: center;
 background-color: #1F416C;
  overflow: hidden;
  color: white;
  width: 100%;
}

.scroll {
  white-space: nowrap;
  margin: 0 2em;
}

.scroll div {
  display: flex;
  gap: 2em;
}



.RightToLeft {
  animation: RightToLeft 15s infinite linear;
}

@keyframes  RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}


