.logo{
    width: 90px;
    height: 90px;
    
}

.navbutton{
color: rgb(0, 0, 0);
background-color: #FFD814;

width: 100px;
border-top-right-radius: 4px !important;
border-bottom-right-radius: 4px !important;
}


.search{
    height: 46px;
    border-radius: 10px;
}

.inputfield{
    width: 300px;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border: none;
}

.toggleButton {
    display: flex;
    border: 2px solid theme('colors.yellow') ;
    border-radius: 20px;
    height: 37px;
  }
  
  button {
   
    
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .activeButton {
    background-color: theme('colors.yellow');
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color:theme('colors.Black') ;



  }
  
  .inactiveButton {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color:theme('colors.white') ;
  }

/* logintogle button style */
  .activeButtonauth {
    background-color: theme('colors.yellow');
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color:theme('colors.Black') ;



  }
  
  .inactiveButtonauth {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    
  }


 /* country dropdown */
 
 .logocountry{
    height: 37px;
    width: 37px;
 }

 .redDropdown  {
    background-color: red !important; /* Override background color to red */
  }


/* Login Button */

.loginbutton{
    background-color:theme('colors.yellow') ;
    width: 90px;
}

/* category Button */

.categorybutton{
  background-color: #FFD814;
  border-radius: 0px !important;
  width: 150px;
  font-size: 18px !important;
  font-weight: 400 !important;

}


