.logo{
    width: 90px;
    height: 90px;
    
}


.navbutton{
color: rgb(0, 0, 0);
background-color: #FFD814;
height: 40px;
width: 100px;
border-top-right-radius: 4px !important;
border-bottom-right-radius: 4px !important;
}


.search{
    height: 46px;
    border-radius: 10px;
}

.inputfield{
    width: 300px;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border: none;
}

.custom-tabs {
  width: 100%;
}

.tab-titles {
  display: flex;
  border: 2px solid #FFD814;
  border-radius: 20px;
}

.tab-title {
  padding: 10px 30px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.tab-title.active {
  color: black;
  font-weight: 600;
  background-color: #FFD814;
  border-radius: 14px;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
}





/* logintogle button style */
  .activeButtonauth {
    background-color: theme('colors.yellow');
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color:theme('colors.Black') ;



  }
  
  .inactiveButtonauth {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    
  }


 /* country dropdown */
 
 .logocountry{
    height: 37px;
    width: 37px;
 }

 .redDropdown  {
    background-color: red !important; /* Override background color to red */
  }


/* Login Button */

.loginbutton{
    background-color:theme('colors.yellow') ;
    width: 90px;
}

/* category Button */

.categorybutton{
  background-color: #FFD814;
  border-radius: 0px !important;
  width: 150px;
  font-size: 18px !important;
  font-weight: 400 !important;

}




/*mediaquery*/

@media (max-width: 770px) {

  
  .search{
    height: 30px;
}

.inputfield{
  width: 120px;
  height: 30px;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border: none;
}

.navbutton{
  font-size: 8px;
  width: 60px;
  height: 30px;
 
  }

  .tab-title {
    padding: 10px 20px !important;
    height: 30px !important;
  }


 
}


@media (max-width: 900px) {

  
  

.inputfield{
  width: 120px;
  height: 30px;
 
}

.navbutton{
  font-size: 8px;
  width: 60px;
  height: 30px;
 
  }
  .tab-title {
    padding: 10px 20px !important;
    height: 30px !important;
  }
}


@media (max-width: 1035px) {

  
  

  .inputfield{
    width: 150px;
    height: 30px;
   
  }
  
  .navbutton{
    font-size: 8px;
    width: 75px;
    height: 30px;
   
    }
  
  }



  
@media (max-width: 450px) {

  
  .drop button span{
    padding: 4px;
    align-items: center;
   }
   .tab-title {
    padding: 8px 13px !important;
    height: 25px !important;
  }
  
   
  }

  @media (max-width: 370px) {

    .tab-title {
      padding: 8px 13px !important;
      height: 25px !important;
    }
  
     
    }
   