.multi-range-slider{
 border: none;
 box-shadow: none
}
.bar{
    background-color: #D9D9D9 !important;
    box-shadow: none !important;
    height: 5px;
    width: 250px;
}

.bar-left{
    padding: 0 !important;
    border-radius: none !important;
}

.bar-left,.bar-right,.bar-inner{
    background-color: #D9D9D9 !important;
    box-shadow: none !important;
    border: none !important;
    
    
}

.thumb::before{
    background-color: #FF4B55 !important;
    height: 18px !important;
    width: 18px !important;
    border: none !important;
    box-shadow: none !important;
}

.multi-range-slider{
    padding: 0 !important;
}