* {
  --tw-ring-color: rgb(0 0 0 / 0) !important;
}

.flowbite-accordion:focus {
  outline: none; /* Remove default focus effect */
}
.css-1kbanwn-MuiPaper-root-MuiAccordion-root.Mui-expanded,.css-1sux7e6-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0px !important; /* Set margin to 0 */
}


/* ButtonStyles */

.auth-button {
    color: black !important; /* Text color */
    font-weight: bold !important; /* Bold text */
    padding: 0.2rem 0.5rem !important; /* Padding */
    border-radius: 0.375rem !important; /* Rounded corners */
    transition: background-color 0.3s !important; /* Smooth background-color transition */
  }
  
  .auth-button:hover {
    background-color: #eab308 !important; /* Darker yellow on hover */
  }
  



/* baground setting */
.bgresto{
    background: url('./assets/Restaurentmenu.png');
}  